.sender {
  /* margin-right: 10px; */
  /* color: rgb(27 138 235); */
  min-height: 50px;
  margin-bottom: 10px;

}

.sender span {
  font-size: 18px;
}

.senderTitle {
  font-size: 18px;
  color: #9cdcfe;
  margin: 0 10px 10px 0;
}

.senderBotTitle {
  font-size: 18px;
  color: #38ae7c;
  margin: 0 0 10px 16px;
}

.text {
  /* color: coral; */
  min-height: 50px;
  margin-bottom: 10px;
}

.text span {
  font-size: 18px;
}

.messageBox {
  align-items: center;
}