.header {
  width: 45%;
  height: 10vh;
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  /* border-bottom: 1px solid blueviolet; */
}

.header-wrp {
  width: 100%;
  height: 10vh;
  display: flex;
}

.header h1 {
  color: #9cdcfe;
  ;
}