* {
  margin: 0;
  padding: 0;
}

.messageBox {
  width: 75%;
  height: 100%;
  border-radius: 10px;
  /* background-color: #29222c; */
  background-color: #282c34;
  padding: 5px 20px 0 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.messages {
  display: block;
}

/* .messageBox span {
  max-width: 400px;
  min-height: 100px;
  color: antiquewhite;
  background-color: #29222c;
} */


.formStyle {
  width: 100%;
  min-height: 175px;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  /* background-color: #29222c; */
  background-color: transparent;
  border: 1px solid #1976d2;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 40px;

}

.inputStyle {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: none;
  margin-right: 15px;
  padding: 5px;
  box-sizing: border-box;
}

.buttonStyle {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
  color: #394069;
}

.textField {
  background-color: bisque;
  margin-right: 20px;
  border: 1px solid black;
}

.sendButton {
  margin-top: 10px;
}

.messageElements {
  max-height: 75%;
  box-sizing: border-box;
  padding: 0 100px;
  width: 100%;
}

.scrollBar {
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 24px;
  /* ширина для вертикального скролла */
  background-color: #808080;
  border-radius: 9em;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #444b58;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;

}

::-webkit-scrollbar-thumb:hover {
  background-color: #2e3950;
}

/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement {
  background: linear-gradient(120deg, #808080 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(240deg, #808080 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(0deg, #808080 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #444b58;
  border-radius: 9em;
}

::-webkit-scrollbar-button:vertical:start:decrement:hover {
  background-color: #556588;
}


::-webkit-scrollbar-button:vertical:end:increment {
  background:
    linear-gradient(300deg, #808080 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(60deg, #808080 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(180deg, #808080 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #444b58;
  border-radius: 9em;
}


::-webkit-scrollbar-button:vertical:end:increment:hover {
  background-color: #556588;
}