.sender {
  /* margin-right: 10px; */
  /* color: rgb(27 138 235); */
  min-height: 50px;
  margin-bottom: 10px;

}

.sender span {
  font-size: 18px;
}


.text {
  /* color: coral; */
  min-height: 50px;
  margin-bottom: 10px;
}

.text span {
  font-size: 18px;
}

.messageBox {
  align-items: center;
}